{% extends 'base.html' %}

{% block title %}Detalhes do Edital{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <a href="{% url 'lista_editais' %}" class="btn btn-secondary">Voltar</a>
        </div>
    </div>

    <h3>Detalhes do Edital: {{ edital.nome }}</h3>
    <p>
        <strong>Número:</strong> {{ edital.numero }}<br>
        <strong>Campus:</strong>
        {% for c in edital.campus.all %}
            {{ c.nome }}{% if not forloop.last %}, {% endif %}
        {% empty %}
            <span class="text-muted">Nenhum campus</span>
        {% endfor %}
        <p><strong>Data de Criação:</strong> {{ edital.data_criacao|date:"d/m/Y H:i" }}</p>
        <p><strong>Última Modificação:</strong> {{ edital.ultima_modificacao|date:"d/m/Y H:i" }}</p>
    </p>

    <div class="table-responsive mb-4">
        <h2 class="mt-4">Dados de Análise de Histórico</h2>
        <table class="table table-bordered table-striped table-hover">
            <thead class="table-dark">
                <div class="text-end mb-2">
                  <a href="{% url 'exportar_editais' %}" class="btn btn-primary">Exportar para Excel</a>
                </div>
                <tr>
                    <th>Campus</th>
                    <th>Avaliadores Histórico</th>
                    <th>Data Inicial Análise Histórico</th>
                    <th>Data Final Análise Histórico</th>
                    <th>Data Recurso Histórico</th>
                    <th>Data Final Recurso Histórico</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ edital.campus.all|join:", " }}</td>
                    <td>
                        {% for aval in edital.avaliadores_historico.all %}
                            <span>{{ aval.nome }}</span>{% if not forloop.last %}, {% endif %}
                        {% empty %}
                            <span class="text-muted">Nenhum dado encontrado</span>
                        {% endfor %}
                    </td>
                    <td>{{ edital.data_inicial_analise_historico|date:"d/m/Y" }}</td>
                    <td>{{ edital.data_final_analise_historico|date:"d/m/Y" }}</td>
                    <td>{{ edital.data_recurso_historico|date:"d/m/Y" }}</td>
                    <td>{{ edital.data_final_recurso_historico|date:"d/m/Y" }}</td>
                    <td>
                        <a href="{% url 'editar_edital' edital.id %}" class="btn btn-sm btn-warning">Editar</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Nome</th>
                <th>Avaliações</th>
                <th>Recursos</th>
                <th>Total Avaliações</th>
                <th>Valor Unitário</th>
                <th>Total a Receber</th>
            </tr>
        </thead>
        <tbody>
            {% for item in dados_tabela %}
            <tr>
                <td>{{ item.nome }}</td>
                <td>{{ item.avaliacoes }}</td>
                <td>{{ item.recursos }}</td>
                <td>{{ item.total }}</td>
                <td>R$ {{ item.valor_unitario|floatformat:2 }}</td>
                <td>R$ {{ item.total_receber|floatformat:2 }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">Nenhum avaliador encontrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    </div>
    <div class="table-responsive">
        <h2 class="mt-4">Dados de Análise de Renda</h2>
        <table class="table table-bordered table-striped table-hover">
            <thead class="table-dark">
                <div class="text-end mb-2">
                  <a href="{% url 'exportar_editais' %}" class="btn btn-primary">Exportar para Excel</a>
                </div>
                <h4></h4>
                <tr>
                    <th>Campus</th>
                    <th>Avaliadores Renda</th>
                    <th>Data Inicial Análise Renda</th>
                    <th>Data Final Análise Renda</th>
                    <th>Data Recurso Renda</th>
                    <th>Data Final Recurso Renda</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ edital.campus.all|join:", " }}</td>
                    <td>
                        {% for aval in edital.avaliadores_renda.all %}
                            <span>{{ aval.nome }}</span>{% if not forloop.last %}, {% endif %}
                        {% empty %}
                            <span class="text-muted">Nenhum dado encontrado</span>
                        {% endfor %}
                    </td>
                    <td>{{ edital.data_inicial_analise_renda|date:"d/m/Y" }}</td>
                    <td>{{ edital.data_final_analise_renda|date:"d/m/Y" }}</td>
                    <td>{{ edital.data_recurso_renda|date:"d/m/Y" }}</td>
                    <td>{{ edital.data_final_recurso_renda|date:"d/m/Y" }}</td>
                    <td>
                        <a href="{% url 'editar_edital' edital.id %}" class="btn btn-sm btn-warning">Editar</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Nome</th>
                <th>Avaliações</th>
                <th>Recursos</th>
                <th>Total Avaliações</th>
                <th>Valor Unitário</th>
                <th>Total a Receber</th>
            </tr>
        </thead>
        <tbody>
            {% for item in dados_tabela %}
            <tr>
                <td>{{ item.nome }}</td>
                <td>{{ item.avaliacoes }}</td>
                <td>{{ item.recursos }}</td>
                <td>{{ item.total }}</td>
                <td>R$ {{ item.valor_unitario|floatformat:2 }}</td>
                <td>R$ {{ item.total_receber|floatformat:2 }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">Nenhum avaliador encontrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
